
#tabsContainer {
    width: 702px;
    margin: 0px auto;
    text-align: left;
    float:left;
}
#soda {
    height:80px; width:80px ; float:left;
}


.tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0; 
    text-align: left;
}


li {
    float: left;
    display: block;
}

input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    z-index: 3;
    display: block;
    padding: 12px 21px;
    margin-right: 3px;
    border: 1px solid black;
    border-radius: 2px 2px 0 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background: white;
    cursor: pointer;
    position: relative;
    top: 6px;
    transition: all 0.2s ease-in-out;
    
}

label:hover {
    background: #eee;
}

.tab-content {
    border: 1px solid black;
    z-index: 2;
    display: none;
    overflow: auto;
    width: 250%;
    height: 500px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: white;
    transition: all 1s ease-in-out;
    float:left;
    background-image: url( ' bg.jpg ' );
}

#tab-content1 {
    background-image: url("bghome.jpg");

}

.proTab-content {
    border: 1px solid black;
    z-index: 2;
    float:left;
    overflow: auto;
    width: 140px;
    height: 150px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    margin: 10px;
    top: 53px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in-out;
    
}
.proTab-order {
    border: 1px solid black;
    z-index: 2;
    float:left;
    overflow: auto;
    width: 700px;
    height: 200px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    margin: 10px;
    top: 53px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in-out;
    
}
.infoTab-content {
    border: 1px solid black;
    z-index: 2;
    float:left;
    overflow: auto;
    width: 600px;
    height: 150px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    margin: 10px;
    top: 53px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in-out;
    
}
[id^="tab"]:checked + label {
    top: 2px;
    padding-top: 17px;
    border-bottom-width: 0;
    background: white;

}

[id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}



#stockTabsContainer {
    width: 1605px;
    margin: 0px auto;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
}

.stockTabs {
    width: 1600px;
    float: none;
    list-style: none;
    position: relative;
    margin: 10px 0 10px 0;
    text-align: left;
    float: left;
}

.stockTab-content {
    border: 1px solid black;
    z-index: 2;
    display: block;
    float: left;
    overflow: auto;
    position: static;
    width: 600px;
    height: 350px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    margin: 5px 15px 5px 0px;
    top: 53px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in-out;
}

.stockbox {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    padding-left: 30px;
    margin: 10px;
}


.requestBox {
    width: 650px;
    height: 30px;
    border: 1px solid black;
    margin: 10px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.requestBox:hover {
    background: #eee;
}

#store1{
    position: absolute;
    left: 400px;
}

#store2{
    position: absolute;
    left: 460px;
    top: 150px;
}

#store3{
    position: absolute;
    left: 850px;
    top: 200px;
}

#store4{
    position: absolute;
    left: 1000px;
}

#store5{
    position: absolute;
    left: 1050px;
    top: 400px;
}

#store6{
    position: absolute;
    left: 400px;
    top: 300px;
}

#store7{
    position: absolute;
    left: 250px;
    top: 350px;
}

#store8{
    position: absolute;
    left: 550px;
    top: 450px;
}

#store9{
    position: absolute;
    left: 580px;
    top: 310px;
}

#store10{
    position: absolute;
    left: 1100px;
    top: 300px;
}

.sellBox{
    position: absolute;
    left: 1255px;
    top: 10px;
    height: 200px;
    width: 400px;
    background-color: white;
    border: 2px solid black;
}

#sodaRequest{
    position: static;
    height: 350px;
    width: 180px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    display: block;
    float: left;
    overflow: auto;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    margin: 5px 15px 5px 0px;
    top: 53px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in-out;
}

#chartSelectBox {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.9);
}
